@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import 'reset';
@import 'variables/font';
@import 'variables/size';
@import 'variables/radius';
@import 'variables/zIndexes';
@import 'themes/dark';
@import 'themes/light';
@import 'fonts';

.app {
	background-color: var(--body-color);
	min-height: 100vh;
}

.navbar {
	position: fixed;
}

.contentPage {
	display: flex;
	padding-top: var(--s-navbar-height);
	padding-bottom: 0;
	min-height: 100vh;
}

@media (max-width: 500px) {
	.navbar {
		bottom: 0;
	}
	.contentPage {
		padding-top: 0;
		padding-bottom: var(--s-navbar-height);
	}
}