:root {
	--col-white: #fff;
	--col-light-gray: #f2f2f2;
	--col-medium-gray: #68676e;
	--col-orange: #fd853b;
	--col-dark-orange: #f8670d;
	--col-red: #d9182b;
	--col-dark-red: #dc3546;
	--col-purple: #6f4ff2;
	--col-dark-purple: #5335c9;
	--col-navy: #1d1932;
	--col-dark-navy: #131129;
	--col-almost-black: #0b0c109d;
	--col-black: #000;
}