.Button {
	color: var(--btn-text-color);
	fill: var(--btn-text-color);
	cursor: pointer;
	padding: 10px 25px;
	border-radius: var(--r-element);
	font-weight: var(--fw-semi-bold);
	display: flex;
	justify-content: center;
}

.primary {
	background-color: var(--btn-primary-color);
	border: 2px solid var(--btn-primary-color);
	color: var(--btn-primary-color);
	fill: var(--btn-primary-color);

	&:hover {
		background-color: var(--btn-primary-hover-color);
		border: 2px solid var(--btn-primary-hover-color);
		color: var(--btn-primary-hover-color);
		fill: var(--btn-primary-hover-color);
	}
}

.attn {
	background-color: var(--btn-attn-color);
	border: 2px solid var(--btn-attn-color);
	color: var(--btn-attn-color);
	fill: var(--btn-attn-color);

	&:hover {
		background-color: var(--btn-attn-hover-color);
		border: 2px solid var(--btn-attn-hover-color);
		color: var(--btn-attn-hover-color);
		fill: var(--btn-attn-hover-color);
	}
}

.background {
	color: var(--btn-text-color);
	fill: var(--btn-text-color);
	border: none;

	&:hover {
		border: none;
		color: var(--btn-text-color);
		fill: var(--btn-text-color);
	}
}

.outline {
	background: none;

	&:hover {
		background: none;
	}
}

.clear {
	background: none;
	color: var(--text-primary-color);
	fill: var(--text-primary-color);
	border: none;
	border-radius: none;
	margin: 0;
	outline: none;
	padding: 0;

	&:hover {
		background: none;
		border: none;
		color: var(--btn-primary-color);
		fill: var(--btn-primary-color);
	}
}

.disabled {
	opacity: 0.5;
}