.app_dark_theme {
	--body-color: #131129;
	--bg-color: #1d1932;
	--icon-primary-color: #ffffff;
	--text-primary-color: #ffffff;
	--text-secondary-color: #68676e;
	--text-attn-color:#dc3546;
	--link-active-color: #6f4ff2;
	--link-hover-color: #5335c9;
	--btn-text-color: #ffffff;
	--btn-primary-color: #6f4ff2;
	--btn-primary-hover-color: #5335c9;
	--btn-attn-hover-color: #d9182b;
	--btn-attn-color:#dc3546;
	--col-modal-bg: #0b0c109d;
	--disabled-color: #b6b6b660;
}