.app_dark_theme {
	--body-color: var(--col-dark-navy);
	--bg-color: var(--col-navy);
	--icon-primary-color: var(--col-white);
	--text-primary-color: var(--col-white);
	--text-secondary-color: var(--col-medium-gray);
	--text-attn-color: var(--col-dark-red);
	--link-active-color: var(--col-purple);
	--link-hover-color: var(--col-dark-purple);
	--btn-text-color: var(--col-white);
	--btn-primary-color: var(--col-purple);
	--btn-primary-hover-color: var(--col-dark-purple);
	--btn-attn-hover-color: var(--col-red);
	--btn-attn-color: var(--col-dark-red);
	--col-modal-bg: var(--col-almost-blac);
}