.app_light_theme {
	--body-color: #f2f2f2;
	--bg-color: #ffffff;
	--icon-primary-color: #000000;
	--text-primary-color: #000000;
	--text-secondary-color: #68676e;
	--text-attn-color:#dc3546;
	--link-active-color: #fd853b;
	--link-hover-color: #f8670d;
	--btn-text-color: #ffffff;
	--btn-primary-color: #fd853b;
	--btn-primary-hover-color: #f8670d;
	--btn-attn-hover-color: #d9182b;
	--btn-attn-color:#dc3546;
	--col-modal-bg: #0b0c109d;
	--disabled-color: #9d9fa460;
}