.app_light_theme {
	--body-color: var(--col-light-gray);
	--bg-color: var(--col-white);
	--icon-primary-color: var(--col-black);
	--text-primary-color: var(--col-black);
	--text-secondary-color: var(--col-medium-gray);
	--text-attn-color: var(--col-dark-red);
	--link-active-color: var(--col-orange);
	--link-hover-color: var(--col-dark-orange);
	--btn-text-color: var(--col-white);
	--btn-primary-color: var(--col-orange);
	--btn-primary-hover-color: var(--col-dark-orange);
	--btn-attn-hover-color: var(--col-red);
	--btn-attn-color: var(--col-dark-red);
	--col-modal-bg: var(--col-almost-black);
}